<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"

    xmlns:th="http://www.thymeleaf.org">

<head>
<title>Home</title>
<link href="css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel='stylesheet' type='text/css' />
<script src="js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"   th:src="@{/js/jquery.min.js}"></script>
<!-- Custom Theme files -->
<link href="css/style.css" th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />

</head>
<body>
	<div class="header">
		<div class="container">
		  <div class="header_top">
			<ul class="phone">
				<li class="phone_left"><i class="mobile"> </i><span>1-200-346-2986</span></li>
				<li class="phone_right">Free Ground Shipping for Products over $100</li>
				<div class="clearfix"></div>
			</ul>
			<ul class="social">
				 <li><a href=""> <i class="tw"> </i> </a></li>
				 <li><a href=""><i class="fb"> </i> </a></li>
				 <li><a href=""><i class="rss"> </i> </a></li>
				 <li><a href=""><i class="msg"> </i> </a></li>
				 <div class="clearfix"> </div>
			</ul>
			<ul class="account">
				<li><a href="account.html">My Account</a></li>
			</ul>
			<ul class="shopping_cart">
			   <a href=""><li class="shop_left"><i class="cart"> </i><span>Shop</span></li></a>
			   <a href=""><li class="shop_right"><span>$0.00</span></li></a>
			   <div class="clearfix"> </div>
			</ul>
			<div class="clearfix"></div>
		</div>
		
		<div class="header_bottom">
		  <div class="header_nav">
      		<div class="logo">
				<a href="index.html" th:href="@{/index.html}"><img src="img/logo.png" th:src="@{/img/logo.png}" alt=""/></a>
			 </div>
			 
			 <nav class="navbar navbar-default menu" role="navigation"><h3 class="nav_right"><a href="index.html"><img src="img/logo.png" th:src="@{/img/logo.png}" class="img-responsive" alt=""/></a></h3>
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" >
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			    </div>
			    
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav menu1">
			      	<li class="active"><a href="index.html">Specials</a></li>
			        <li><a href="fruits.html">Fruits  Veg</a></li>
			        <li><a href="products.html">Food Products</a></li>
			        <li><a href="store.html">Locate Store</a></li>
			        <li><a href="club.html">Fan Club</a></li>
			        <li><a href="contact.html">Contact</a></li>
		          </ul>
		          <ul class="login">
		          	<a href="account.html"><li class="login_top"><i class="sign"> </i><span>Sign In</span></li></a>
		            <a href="register.html"><li class="login_bottom"><i class="register"> </i><span>Register</span></li></a>
		          </ul>
			      <div class="clearfix"></div>
			    </div><!-- /.navbar-collapse -->
				
			  </div><!-- /.container-fluid -->
			</nav>
			 
            <div class="clearfix"></div>
           </div>
           
           <div class="search">
			<!--    <input type="text" class="text" value="Enter Product Details" >
			  <input type="submit" value="Search">-->
			  
			  <blc:form th:action="@{/search}" method="GET">
			   <input type="search" class="text" name="q"  value="Enter Product Details"/>
			  
            <input type="submit" id="search_button" value="Search" />
            </blc:form>
			  
			</div>
           
		 </div>  
		
		</div>
	</div>
   
   
   <div class="main">
		<div class="container">
		   <div class="banner">
			 <img src="img/banner.jpg" th:src="@{/img/banner.jpg}" class="img-responsive" alt=""/>
		   </div>
		   <div class="row content">
		   	<div class="col-md-3 content_top">
		   	   <div class="category_box">
		   	  	<h3 class="cate_head">Categories</h3>
		   	     <ul class="category">
			   	  	<li><a href="">Arts</a></li>
			   	  	<li><a href="">Beauty</a></li>
			   	  	<li><a href="">Books</a></li>
			   	  	<li><a href="">Cart Software</a></li>
			   	  	<li><a href="">Electronics</a></li>
			   	  	<li><a href="">Fashion / Clothing</a></li>
			   	  	<li><a href="">Food</a></li>
			   	  	<li><a href="">Furniture</a></li>
			   	  	<li><a href="">Home Goods</a></li>
			   	  	<li><a href="">Jewelry</a></li>
			   	  	<li><a href="">Lingerie</a></li>
			   	  	<li><a href="">Music</a></li>
			   	  	<li><a href="">Office Supplies</a></li>
			   	  	<li><a href="">Printing</a></li>
			   	  	<li><a href="">Software</a></li>
		   	     </ul>
		   	   </div>
		   	   <ul class="product_reviews">
		   	   	<h3><i class="arrow"> </i><span>Product Reviews</span></h3>
		   	   	<li>
		   	   		<ul class="review1">
		   	   			<li class="review1_img"><img src="img/pic1.jpg" th:src="@{/img/pic1.jpg}" class="img-responsive" alt=""/></li>
		   	   			<li class="review1_desc"><h3><a href="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a></h3><p>Wed, June 2014</p></li>
		   	   			<div class="clearfix"> </div>
		   	   		</ul>
		   	   	</li>
		   	   	<li>
		   	   		<ul class="review1">
		   	   			<li class="review1_img"><img src="img/pic2.jpg" th:src="@{/img/pic2.jpg}" class="img-responsive" alt=""/></li>
		   	   			<li class="review1_desc"><h3><a href="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a></h3><p>Wed, June 2014</p></li>
		   	   			<div class="clearfix"> </div>
		   	   		</ul>
		   	   	</li>
		   	   	<li>
		   	   		<ul class="review1">
		   	   			<li class="review1_img"><img src="img/pic3.jpg" th:src="@{/img/pic3.jpg}" class="img-responsive" alt=""/></li>
		   	   			<li class="review1_desc"><h3><a href="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a></h3><p>Wed, June 2014</p></li>
		   	   			<div class="clearfix"> </div>
		   	   		</ul>
		   	   	</li>
		   	    <div class="but">
			       <a href="">More Reviews<i class="but_arrow"> </i></a>
			    </div>
		   	   </ul>
		   	   
		   	   <ul class="product_reviews">
		   	   	 <h3><i class="arrow"> </i><span>Payment Methods</span></h3>
		   	   	 <img src="img/payment.png" th:src="@{/img/payment.png}" class="img-responsive" alt=""/>
		   	   </ul>
		   	</div>
		   	<div class="col-md-9">
		   	   <ul class="feature">
		   	   	 <h3><i class="arrow"> </i><span>Today's Featured Products</span></h3>
		   	   </ul>
		   	   <ul class="feature_grid">
				 <li class="grid1"><img src="img/f1.jpg" th:src="@{/img/f1.jpg}" class="img-responsive" alt=""/>
				 	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
				 	<div class="price">Price:
					  <span class="actual">$12.00</span>
					</div>
				    <div class="but1">
			          <a href="">Buy Now</a>
			        </div>
				 </li>		   	   	
				 <li class="grid1"><img src="img/f2.jpg" th:src="@{/img/f2.jpg}" class="img-responsive" alt=""/>
				 	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
				 	<div class="price">Price:
					  <span class="actual">$12.00</span>
					</div>
				    <div class="but1">
			          <a href="">Buy Now</a>
			        </div>
				 </li>		   	
				 <li class="grid2"><img src="img/f3.jpg" th:src="@{/img/f3.jpg}" class="img-responsive" alt=""/>
				 	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
				 	<div class="price">Price:
					  <span class="actual">$12.00</span>
					</div>
				    <div class="but1">
			          <a href="">Buy Now</a>
			        </div>
				 </li>		   	
				 <div class="clearfix"> </div>
		   	   </ul>
		   	    <ul class="feature">
		   	   	 <h3><i class="arrow"> </i><span>Popular products</span></h3>
		   	   </ul>
		   	   <div class="row content_bottom">
			   	   <div class="col-md-3">
			   	   	<div class="content_box"><a href="single.html">
			   	   	  	<div class="view view-fifth">
			   	   	     <img src="img/p1.jpg" th:src="@{/img/p1.jpg}" class="img-responsive" alt=""/>
				   	   	 <div class="content_box-grid">
				   	   	  <p class="m_1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
				   	   	  <div class="price">Price:
						    <span class="actual">$12.00</span>
						  </div>
						  <ul class="product_but">
						  	<li class="but3">Buy</li>
						  	<li class="like"><span>120</span><i class="like1"> </i></li>
						  	<div class="clearfix"> </div>
						  </ul>
						   <div class="mask">
	                         <div class="info">Quick View</div>
			               </div>
			             </div>
				   	   	</div>
			   	   	   </a>
			   	   	  </div>
			   	   </div>
			   	   <div class="col-md-3">
			   	   	  <div class="content_box"><a href="single.html">
			   	   	  	<div class="view view-fifth">
			   	   	     <img src="img/p4.jpg" th:src="@{/img/p4.jpg}" class="img-responsive" alt=""/>
				   	   	 <div class="content_box-grid">
				   	   	  <p class="m_1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
				   	   	  <div class="price">Price:
						    <span class="actual">$12.00</span>
						  </div>
						  <ul class="product_but">
						  	<li class="but3">Buy</li>
						  	<li class="like"><span>120</span><i class="like1"> </i></li>
						  	<div class="clearfix"> </div>
						  </ul>
						   <div class="mask">
	                         <div class="info">Quick View</div>
			               </div>
			             </div>
				   	   	</div>
			   	   	   </a>
			   	   	  </div>
			   	   </div>
			   	   <div class="col-md-3">
			   	   	 <div class="content_box"><a href="single.html">
			   	   	  	<div class="view view-fifth">
			   	   	     <img src="img/p3.jpg" th:src="@{/img/p3.jpg}" class="img-responsive" alt=""/>
				   	   	 <div class="content_box-grid">
				   	   	  <p class="m_1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
				   	   	  <div class="price">Price:
						    <span class="actual">$12.00</span>
						  </div>
						  <ul class="product_but">
						  	<li class="but3">Buy</li>
						  	<li class="like"><span>120</span><i class="like1"> </i></li>
						  	<div class="clearfix"> </div>
						  </ul>
						   <div class="mask">
	                         <div class="info">Quick View</div>
			               </div>
			             </div>
				   	   	</div>
			   	   	   </a>
			   	   	  </div>
			   	   </div>
			   	   <div class="col-md-3">
			   	   	   <div class="content_box"><a href="single.html">
			   	   	  	<div class="view view-fifth">
			   	   	     <img src="img/p2.jpg" th:src="@{/img/p2.jpg}" class="img-responsive" alt=""/>
				   	   	 <div class="content_box-grid">
				   	   	  <p class="m_1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
				   	   	  <div class="price">Price:
						    <span class="actual">$12.00</span>
						  </div>
						  <ul class="product_but">
						  	<li class="but3">Buy</li>
						  	<li class="like"><span>120</span><i class="like1"> </i></li>
						  	<div class="clearfix"> </div>
						  </ul>
						   <div class="mask">
	                         <div class="info">Quick View</div>
			               </div>
			             </div>
				   	   	</div>
			   	   	   </a>
			   	   	  </div>
			   	   </div>
			   </div>
			   <div class="row content_bottom1">
			   	   <div class="col-md-3">
			   	   	<div class="content_box"><a href="single.html">
			   	   	  	<div class="view view-fifth">
			   	   	     <img src="img/p8.jpg" th:src="@{/img/p8.jpg}" class="img-responsive" alt=""/>
				   	   	 <div class="content_box-grid">
				   	   	  <p class="m_1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
				   	   	  <div class="price">Price:
						    <span class="actual">$12.00</span>
						  </div>
						  <ul class="product_but">
						  	<li class="but3">Buy</li>
						  	<li class="like"><span>120</span><i class="like1"> </i></li>
						  	<div class="clearfix"> </div>
						  </ul>
						   <div class="mask">
	                         <div class="info">Quick View</div>
			               </div>
			             </div>
				   	   	</div>
			   	   	   </a>
			   	   	  </div>
			   	   </div>
			   	   <div class="col-md-3">
			   	   	  <div class="content_box"><a href="single.html">
			   	   	  	<div class="view view-fifth">
			   	   	     <img src="img/p7.jpg" th:src="@{/img/p7.jpg}" class="img-responsive" alt=""/>
				   	   	 <div class="content_box-grid">
				   	   	  <p class="m_1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
				   	   	  <div class="price">Price:
						    <span class="actual">$12.00</span>
						  </div>
						  <ul class="product_but">
						  	<li class="but3">Buy</li>
						  	<li class="like"><span>120</span><i class="like1"> </i></li>
						  	<div class="clearfix"> </div>
						  </ul>
						   <div class="mask">
	                         <div class="info">Quick View</div>
			               </div>
			             </div>
				   	   	</div>
			   	   	   </a>
			   	   	  </div>
			   	   </div>
			   	   <div class="col-md-3">
			   	   	  <div class="content_box"><a href="single.html">
			   	   	  	<div class="view view-fifth">
			   	   	     <img src="img/p6.jpg" th:src="@{/img/p6.jpg}" class="img-responsive" alt=""/>
				   	   	 <div class="content_box-grid">
				   	   	  <p class="m_1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
				   	   	  <div class="price">Price:
						    <span class="actual">$12.00</span>
						  </div>
						  <ul class="product_but">
						  	<li class="but3">Buy</li>
						  	<li class="like"><span>120</span><i class="like1"> </i></li>
						  	<div class="clearfix"> </div>
						  </ul>
						   <div class="mask">
	                         <div class="info">Quick View</div>
			               </div>
			             </div>
				   	   	</div>
			   	   	   </a>
			   	   	  </div>
			   	   </div>
			   	   <div class="col-md-3">
			   	   	   <div class="content_box"><a href="single.html">
			   	   	  	<div class="view view-fifth">
			   	   	     <img src="img/p5.jpg" th:src="@{/img/p5.jpg}" class="img-responsive" alt=""/>
				   	   	 <div class="content_box-grid">
				   	   	  <p class="m_1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
				   	   	  <div class="price">Price:
						    <span class="actual">$12.00</span>
						  </div>
						  <ul class="product_but">
						  	<li class="but3">Buy</li>
						  	<li class="like"><span>120</span><i class="like1"> </i></li>
						  	<div class="clearfix"> </div>
						  </ul>
						   <div class="mask">
	                         <div class="info">Quick View</div>
			               </div>
			             </div>
				   	   	</div>
			   	   	   </a>
			   	   	  </div>
			   	   </div>
			   </div>
			   <ul class="dc_pagination dc_paginationA dc_paginationA06">
				  <li><a href="">1</a></li>
				  <li><a href="" class="current">2</a></li>
				  <li><a href="">3</a></li>
				  <li><a href="">4</a></li>
				  <li><a href="">5</a></li>
				  <li><a href="">...</a></li>
				  <li><a href="">19</a></li>
				  <li><a href="">20</a></li>
				  <li><a href="" class="previous">Next></a></li>
				  <li><a href="" class="next">Last>></a></li>
		       </ul>
		    </div>
		   </div>
		</div>
	</div>
	<!-- 底部开始 -->
	
	
	<div class="footer">
		<div class="container">
			<div class="footer-grid footer-grid1">
			  <h3 class="m_2">Company</h3>
			  <ul class="list1">
			  	<li><a href="">Home</a></li>
			    <li><a href="">About Us</a></li>
			    <li><a href="">Blog</a></li>
			    <li><a href="">Latest News</a></li>
			    <li><a href="">Login</a></li>
			    <li><a href="">Join Us</a></li>
			  </ul>
		   </div>
		   <div class="footer-grid footer-grid2">
			  <h3 class="m_2">Company</h3>
			  <ul class="list1">
			  	<li><a href="">Lorem ipsum dolor sit amet</a></li>
			    <li><a href="">diam nonummy nibh euismod</a></li>
			    <li><a href="">nostrud exerci tation</a></li>
			    <li><a href="">hendrerit in vulputate velit</a></li>
			    <li><a href="">soluta nobis eleifend option</a></li>
			    <li><a href="">dynamicus, qui sequitur</a></li>
			  </ul>
		   </div>
		   <div class="footer-grid footer-grid3">
			  <h3 class="m_2">Information</h3>
			  <ul class="list1">
			  	<li><a href="">My Account</a></li>
			    <li><a href="">Rewards</a></li>
			    <li><a href="">Terms  Conditions</a></li>
			    <li><a href="">Buying Guide</a></li>
			    <li><a href="">FAQ</a></li>
			  </ul>
		   </div>
		   
		   <div class="footer-grid footer-grid4">
			   <h3 class="m_2">Let's be friends</h3>
			   <ul class="footer_social">
				 <li><a href=""> <i class="tw"> </i> </a></li>
				 <li><a href=""><i class="fb"> </i> </a></li>
				 <li><a href=""><i class="rss"> </i> </a></li>
				 <li><a href=""><i class="msg"> </i> </a></li>
				 <div class="clearfix"> </div>
			   </ul>
			   <h3 class="m_3">Subscribe</h3>
			   <p class="m_4">aliquam erat volutpat Ut wisi</p>
			   
		   </div>
		   
		   <div class="footer-grid footer-grid_last">
	          <ul class="secure">
			  	<li class="secure_img"><img src="images/secure.png" th:src="@{/img/secure.png}" alt=""/></li> 
			  	<li class="secure_desc">Lorem ipsum dolor coadipiscing</li>
			  	<div class="clearfix"> </div>
			  </ul>
			  <ul class="secure">
			  	<li class="secure_img"><img src="images/order.png" th:src="@{/img/order.png}" alt=""/></li> 
			  	<li class="secure_desc">Lorem ipsum dolor coadipiscing</li>
			  	<div class="clearfix"> </div>
			 </ul>
		   </div>
		   
		   <div class="clearfix"> </div>
		   <div class="copy">
		    <p>Copyright  2014 Company name All rights reserved<a target="_blank" href=""></a></p>
		</div>
	   </div>
	</div>
   
</body>
</html>

